$base-white: #ffffff;
$base-gray: #4c4743;
$base-orange: #ed6c44;

$base-header-background: $base-white;
$base-content-background: #f8f3f0;
$base-logo-background: $base-orange;
$base-sidebar-background: $base-white;
$base-icon-color: $base-white;
