@import "./icon-variables";

@font-face {
  font-family: 'app';
  src:  url('#{$icomoon-font-path}/app.eot?ww597p');
  src:  url('#{$icomoon-font-path}/app.eot?ww597p#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/app.ttf?ww597p') format('truetype'),
    url('#{$icomoon-font-path}/app.woff?ww597p') format('woff'),
    url('#{$icomoon-font-path}/app.svg?ww597p#app') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'app' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}

.icon-keyboard_arrow_right {
  &:before {
    content: unicode($icon-keyboard_arrow_right);
  }
}
.icon-cd {
  &:before {
    content: unicode($icon-cd);
  }
}
.icon-disk {
  &:before {
    content: unicode($icon-disk);
  }
}
.icon-play {
  &:before {
    content: unicode($icon-play);
  }
}
.icon-file-music {
  &:before {
    content: unicode($icon-file-music);
  }
}
.icon-search {
  &:before {
    content: unicode($icon-search);
  }
}
.icon-youtube {
  &:before {
    content: unicode($icon-youtube);
  }
}
.icon-youtube2 {
  &:before {
    content: unicode($icon-youtube2);
  }
}
.icon-github {
  &:before {
    content: unicode($icon-github);
  }
}
.icon-vynil {
  &:before {
    content: unicode($icon-vynil);
  }
}
