$icomoon-font-path: "../fonts/icons" !default;

$icon-keyboard_arrow_right: \e903;
$icon-cd: \e902;
$icon-disk: \e901;
$icon-play: \e912;
$icon-file-music: \e928;
$icon-search: \e986;
$icon-youtube: \ea9d;
$icon-youtube2: \ea9e;
$icon-github: \eab0;
$icon-vynil: \e900;
