@mixin setTransition($property-time, $effect: ease) {
  -webkit-transition: $property-time $effect;
  -moz-transition: $property-time $effect;
  -ms-transition: $property-time $effect;
  transition: $property-time $effect;
}
