.albums {
  .title {
    font-size: $h1;
    color: $base-theme-orange;
    font-weight: $bold;
    padding-bottom: 3px;
    border-bottom: solid 1px $sidebar-menu-title-bg;
    box-shadow: 0 1px 1px $sidebar-menu-title-bg;
  }
}

.albums__list {
  display: grid;
  grid: auto / repeat(5, 1fr);
  grid-gap: 10px;
  max-height: calc(#{$content-box-height} - 60px);
  overflow: auto;
  padding: 10px 0;
  grid-auto-flow: row;

  &::-webkit-scrollbar { width: 0; }

  .albums__list-item {
    background-color: $base-theme-white;
    box-shadow: 2px 2px 8px $thumbnail-border;
    padding: 15px 0;
    text-align: center;
    grid-auto-flow: dense;
    cursor: pointer;
    @include setTransition((box-shadow .3s));

    &:hover { box-shadow: 0px 0px 20px $base-theme-lightgray; }

    &.album-selected {
      grid-area: 1 / 4 / 4 / 1;
      box-shadow: 2px 2px 8px $thumbnail-border;
      cursor: inherit;
    }

    .album__list-item__card {
      .card__thumbnail {
        display: block;
        margin: 0 auto;
        margin-bottom: 8px;
        max-width: 150px;
        max-height: 115px;
        border: solid 1px $thumbnail-border;
        overflow: hidden;
        box-shadow: 2px 4px 10px $base-theme-brown;

        img {
          width: 100%;
        }
      }

      .card__year {
        font-weight: $bold;
        color: $base-theme-orange;
      }

      .card__title { color: $base-theme-gray; }
    }

    .albums__list-item__musics {
      text-align: left;
      padding-left: 20px;
      padding-right: 20px;
      position: relative;

      h1 {
        color: $base-theme-brown;
        font-size: 20px;
        font-weight: $bold;
      }

      p {
        font-size: 13px;
        font-weight: $bold;
        color: $base-theme-orange;
      }

      .musics-video-player {
        width: 100%;
        min-height: 300px;
        background-color: $base-theme-black;
        margin: 10px 0;
      }

      .playing {
        color: $base-theme-blue;
        font-weight: $bold;
        font-size: 20px;

        span {
          display: inline-block;
          vertical-align: middle;
          width: 20px;
          height: 20px;
          border-radius: 100%;
          background-color: $base-theme-blue;
          color: $base-theme-white;
          text-align: center;
          font-size: 14px;
          line-height: 20px;
          margin-top: -4px;
        }
      }

      .musics-list {
        margin-top: 5px;
        padding: 10px 0;
        display: grid;
        grid: auto / repeat(3, 1fr);
        grid-auto-flow: row;
        grid-gap: 10px 8px;

        .musics-list__music {
          max-width: 160px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-weight: $regular;
          border: 1px solid $thumbnail-border;
          padding: 5px 0;
          color: $base-theme-gray;
          cursor: pointer;
          box-shadow: 1px 1px 5px transparent;
          @include setTransition((box-shadow .2s));

          i {
            display: inline-block;
            width: 17px;
            height: 17px;
            border-radius: 100%;
            background-color: $base-theme-lightgray;
            color: $base-theme-white;
            text-align: center;
            line-height: 17px;
            font-size: 10px;
            margin-right: 5px;
            @include setTransition((background-color .2s));
          }

          &:hover {
            box-shadow: 1px 1px 5px $base-theme-lightgray;

            i { background-color: $base-theme-blue; }
          }
        }
      }

      .icon-close {
        position: absolute;
        right: 20px;
        top: 0;
        cursor: pointer;
        color: $base-theme-orange;
      }
    }
  }
}


@media screen and (max-width: 1300px) {
  .albums__list { grid: auto / repeat(4, auto); }
  .musics-list__music {
    max-width: 180px !important;
  }
}
