.youtube-search {
  i {
    display: inline-block;
    vertical-align: middle;
    line-height: $base-header-height;
    font-size: 25px;
    color: $base-theme-gray;
    margin-right: 10px;
  }

  form {
    display: inline-block;
    vertical-align: middle;

    input[type="text"] {
      border: solid 1px rgba(0,0,0,.1);
      font-size: $base-font-size;
      text-indent: 10px;
      padding: 5px 0;
      min-width: 300px;
      outline: none;

      &:focus {
        border-color: rgba(0,0,0,0.2);
      }
    }

    button {
      border: solid 1px rgba(0,0,0,0.1);
      background-color: $sidebar-menu-title-bg;
      height: 27px;
      text-align: center;
      width: 60px;

      i {
        margin-left: 10px;
        font-size: 13px;
        line-height: inherit;
        opacity: .5;
      }
    }
  }
}
